@import "variables";
@import "base";

:host {

  .game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 300px;
    padding-bottom: 50px;
    border-radius: 10px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    font-size: 30px;
    font-weight: 700;
    color: $black;
    background-image: linear-gradient(to right bottom, rgb(255 255 255 / 100%), rgb(141 255 217 / 70%));

    .retry {
      margin-top: 5px;
      padding: 5px 54px;
      background-color: $green-strong;
      color: $white;
      font-size: 20px;
      font-weight: 800;
      cursor: pointer;
      border: none;
      outline: none;
      border-radius: 100px;
    }
  }
}
