$font-family-base:       "lato", sans-serif;

// Colors
$white:           #ffffff;
$white-90:        rgba(255, 255, 255, 0.9);
$white-85:        rgba(255, 255, 255, 0.85);
$white-54:        rgba(255, 255, 255, 0.54);
$white-40:        rgba(255, 255, 255, 0.4);
$white-20:        rgba(255, 255, 255, 0.2);
$black:           #000000;
$gray:            #f8fafb;
$shaddow:        rgba(0, 0, 0, 0.3);
$black-70:        rgba(0, 0, 0, 0.7);
$black-80:        rgba(0, 0, 0, 0.8);
$green:           #00915a;
$green-clear:     rgba(126, 213, 111, 0.801);
$green-strong:    rgba(40, 180, 133, 0.801);
$blue:            #2491ee;
$blue-stone:      #006471;
$violet:          #993ba7;
$red:             #e3514b;
$alert-red:       #e64444;
$orange:          #f9951d;
