@import "variables";
@import "base";

:host {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, $green-clear, $green-strong), url("/img/bg.jpeg");
}
